// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  margin-top: 0 !important;
}

.panel-body {
  padding-top: 0 !important;
}

.featureImg {
  margin-bottom: 20px;
}

.tt-cursor{
    background-color:#337ab7;
    color: white;
}